In [34]:
#Task 01
def names(stuple):
    greaterThan20=tuple(name for name,age in stuple if age>20)
    return greaterThan20
my_tuple = (("Jawad",23),("Jawad",14),("ahmed",23),("Jawad",18),)
print(names(my_tuple))

('Jawad', 'ahmed')

In [55]:

def determine_num(num) :
    if num==0:
        num1 = "0 is Not even nor Odd"
    elif num%2==0:
        num1 = "even"
    else :
        num1 = "odd"
    if(num>5):
        cond = True
    else :
        cond = False

    return num1,cond

def deter(num):
    if num%2==0 and num>5 :
       return "Even",True
    elif num%2==0 and num<5 :
       return "Even",False
    elif num%2!=0 and num>5 :
       return "Odd",True
    elif num%2!=0 and num<5 :
       return "Odd",False

In [56]:
print(determine_num(0))
print(deter(7))

('0 is Not even nor Odd', False)
('Odd', True)

In [37]:
books={}
def add(title,author,publicationyear,genre):
    books[title] = (title,author,publicationyear,genre)

def search(title):
    if title in books :
        print(books[title])
    else:
        print("Not Found")

def delete(title):
    if title in books :
        del books[title]
    else:
        print("Book not exist")
    



add("Hello World","Jawad",2022,"Programming")
add("hello1","Ahsan",2022,"Programming")
add("Hello2 World","Raza",2022,"Programming")
add("hello3","ahsan",2022,"Programming")
add("Hello4 World","Naveed",2022,"Programming")
add("hello5","ahsan",2022,"Programming")
print(books)

{'Hello World': ('Hello World', 'Jawad', 2022, 'Programming'), 'hello1': ('hello1', 'Ahsan', 2022, 'Programming'), 'Hello2 World': ('Hello2 World', 'Raza', 2022, 'Programming'), 'hello3': ('hello3', 'ahsan', 2022, 'Programming'), 'Hello4 World': ('Hello4 World', 'Naveed', 2022, 'Programming'), 'hello5': ('hello5', 'ahsan', 2022, 'Programming')}