<h1>Tuples</h1>

In [1]:
my_list=[1,2,3,4]
my_list[2]=5
print(my_list)

[1, 2, 5, 4]

In [15]:
#1.Creating a Tuple:
my_tuple=(1,2,["Monday","Tuesday"])
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(1, 2, ['Monday', 'Tuesday'])

In [6]:
#2.Accessing elements of a tuple:
print(my_tuple[2])
print(my_tuple[0:1])
print(my_tuple[-1])
print(my_tuple[0:])

['Monday', 'Tuesday']
(1,)
['Monday', 'Tuesday']
(1, 2, ['Monday', 'Tuesday'])

In [7]:
#3.Updating elements?
my_tuple[1]=5

TypeError: 'tuple' object does not support item assignment

In [8]:
my_tuple[3]=2
my_tuple.append(4)

TypeError: 'tuple' object does not support item assignment

In [9]:
#4.Removing elements from a tuple:
my_tuple.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'

In [12]:
print(my_tuple)

(1, 2, ['Monday', 'Tuesday'])

In [16]:
#4.Alternate way for removal of elements:
my_list=list(my_tuple)
del my_list[0]
new_tuple=tuple(my_list)
print(new_tuple)

(2, ['Monday', 'Tuesday'])

In [17]:
new_tuple=my_tuple[:]+tuple((3,4))
print(new_tuple)

(1, 2, ['Monday', 'Tuesday'], 3, 4)

In [ ]:
print(my_tuple)

In [ ]:
new_list=list(my_tuple)
print(new_list)
del new_list[1]
new_tuple=tuple(new_list)
print(new_tuple)

In [18]:
#5.Checking value exits in a tuple or not
print(2 in new_tuple)
print(5 in new_tuple)

True
False

In [19]:
#6.Traversing a tuple
for val in new_tuple:
    print(val)

1
2
['Monday', 'Tuesday']
3
4

<h1>Dictionaries</h1>

In [20]:
#1.Creating an empty dictionary and checking its type
my_dictionary={}
print(type(my_dictionary))

<class 'dict'>

In [21]:
#1.Creating Dictionary with elements
my_dictionary={1:'one',2:'two',3:'three'}
print(my_dictionary)

{1: 'one', 2: 'two', 3: 'three'}

In [22]:
#1.Creating Dictionary with elements (another way)
my_dictionary=dict([(1,"one"),(2,"two"),(3,"three")])
print(my_dictionary)

{1: 'one', 2: 'two', 3: 'three'}

In [27]:
#2.Accessing element
my_dictionary=dict([("One","I"),("Two","II")])
print(my_dictionary["Two"])
print(my_dictionary.get("One"))

II
I

In [28]:
#3.Updating elements
my_dictionary={1:'one',2:'two',3:'three'}
my_dictionary[1]="I"
my_dictionary[2]="II"
my_dictionary.update({3:"III"})

In [29]:
print(my_dictionary)

{1: 'I', 2: 'II', 3: 'III'}

In [30]:
#4.Adding new elements
my_dictionary[4]="IV"
my_dictionary.update({5:"V"})

In [31]:
print(my_dictionary)

{1: 'I', 2: 'II', 3: 'III', 4: 'IV', 5: 'V'}

In [32]:
#5.Removing elements
del my_dictionary[5]
print(my_dictionary)

{1: 'I', 2: 'II', 3: 'III', 4: 'IV'}

In [33]:
deleted_value=my_dictionary.pop(1)
print(deleted_value)
print(my_dictionary)

I
{2: 'II', 3: 'III', 4: 'IV'}

In [35]:
#6.Checking if key exits in dictionary
if 2 in my_dictionary:
    del my_dictionary[2]
else:
    print("Key Doesn't Exist")

Key Doesn't Exist

In [ ]:
#6.Checking if key doesn't exits in dictionary
if 5 not in my_dictionary:
    print(True)
else:
    print(False)

In [36]:
#Getting keys and values:
keys=my_dictionary.keys()
values=my_dictionary.values()
print(keys, values)

dict_keys([3, 4]) dict_values(['III', 'IV'])

In [37]:
for key,value in my_dictionary.items():
    print(key,value,sep="\t")

3	III
4	IV

In [38]:
#Merging a Dictionary:
my_dictionary2={5:"V",6:"VI"}
my_dictionary.update(my_dictionary2)
print(my_dictionary)

{3: 'III', 4: 'IV', 5: 'V', 6: 'VI'}

In [39]:
my_dictionary={"Vowels":('a','e','i','o','u'),"Numbers":[1,2,3,4,5]}
print(my_dictionary["Vowels"])
print(my_dictionary["Numbers"])

('a', 'e', 'i', 'o', 'u')
[1, 2, 3, 4, 5]

<h1>Functions</h1>

In [41]:
#1. Defining and calling functions
#defining without parameters:
def greet():
    print("Hello")

In [42]:
#calling:
greet()

Hello

In [43]:
#defining:
def greet(name):
    print("Hello "+name+"!")

In [44]:
#Calling:
greet("Sam")

Hello Sam!

In [ ]:
#2.Function Arguments:
def greet(first_name,last_name):
    print("Hello "+first_name+" "+last_name)

In [ ]:
#Function Arguments:
greet("Jhon","Doe")

In [45]:
#Default Arguments:
def greet(name="World!"):
    print("Hello"+" "+name)

In [46]:
greet()
greet("Jhon")

Hello World!
Hello Jhon

In [47]:
#3.Return values from a function
def add(num1,num2):
    return num1+num2

In [50]:
result=add(3,2)
print(result)
print(add(5,9))

5
14

In [52]:
#Multiple return values
def add_and_multiply(num1,num2):
    return num1+num2,num1*num2

In [53]:
result1,result2=add_and_multiply(5,4)
print(result1,result2,sep="\n")

9
20

In [54]:
#4.Global keyword
x=20
def change_x():
    x=10
    print(x)

In [55]:
print(x)
change_x()
print(x)

20
10
20

In [60]:
#4.Global keyword
x=20
def change_x():
    global x
    x=10
    print(x)

In [61]:
print(x)
change_x()
print(x)

20
10
10

In [67]:
my_tup=(("Ahmed",20),("Majeed",30),("Subhan",20),("Ghafoor",30))

In [79]:
num=6
def even_odd_greater5(val):
    val1=""
    val2=""
    if val%2==0 and val>5:
        val1="Even"
        val2=True
    elif val%2!=0 and val>5:
        
    elif val%2==0 and val<5:
        print("Even and False")
    elif val%2!=0 and val<5:
        print("Odd and False")
    return val1,val2

print(even_odd_greater5(num))

('Even', True)

NameError: name 'python' is not defined

In [ ]:
#1. Creating Numpy arrays

In [ ]:
import numpy as np

In [ ]:
arr=np.array([1,2,3,4,5])
print(type(arr))
print(arr)

In [ ]:
print(arr[::-1])

In [ ]:
#Creating a 2D Array

In [ ]:
my_2d=np.array([[1,2,3,4],[5,6,7,8]])
print(my_2d)

In [ ]:
print(my_2d[0][3])

In [ ]:
#slicing
print(my_2d[0][2:4])

In [ ]:
#2.Array Operations

In [ ]:
#Element wise operations
print(arr)
print(arr+2)
print(arr-2)
print(arr*2)
print(arr//2)

In [ ]:
#Element wise operations
print(arr,arr,sep="\t")
print(arr+arr)
print(arr-arr)
print(arr//arr)
print(arr*arr)

In [ ]:
#Dot Product
np.dot(arr,arr)

In [ ]:
#Aggregate Functions
print(np.sum(arr))
print(np.mean(arr))
print(np.min(arr))
print(np.max(arr))
print(np.std(arr))
print(np.var(arr))

In [ ]:
#3.Array Manipulation

In [ ]:
arr=np.array([1,2,3,4,5,6])
print(arr.reshape(2,3))

In [ ]:
arr=arr.reshape((2,3))
print(arr)

In [ ]:
#Transpose
arr.T

In [ ]:
#Flatten into a vector
print(arr)
print(arr.flatten())

In [ ]:
#One's Matrix
ones_matrix=np.ones((4,4),dtype="float")
print(ones_matrix)

In [ ]:
#Zero's Matrix
zeros_matrix=np.zeros((4,4),dtype="int")
print(zeros_matrix)