In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (1.26.4)

In [4]:
import numpy as np

In [5]:
#create an array
arr = np.array([1,2,3,4,5],dtype="int")
print(type(arr))
print(arr)

<class 'numpy.ndarray'>
[1 2 3 4 5]

In [6]:
print(arr[::-1])

[5 4 3 2 1]

In [7]:
#creating 2d array
arr_2d = np.array([[1,2,3,4],[5,6,7,8]],dtype="int")
print(np.sum(arr_2d))
print(np.mean(arr_2d))
print(np.min(arr_2d))
print(np.max(arr_2d))
print(np.std(arr_2d))
print(np.var(arr_2d))

36
4.5
1
8
2.29128784747792
5.25

In [8]:
import pandas as pd

In [9]:
data = {"day":["1/1/2024","1/2/2024","1/3/2024","1/4/2024","1/5/2024","1/6/2024"],
        "temp":[25,43,23,26,21,35],"event":["Sunny","Hot","Cold","Sunny","Snow","Sunny"]}

In [10]:
df = pd.DataFrame.from_dict(data)
df
#df.describe
#df.index
#df.loc
#df.min

        day  temp  event
0  1/1/2024    25  Sunny
1  1/2/2024    43    Hot
2  1/3/2024    23   Cold
3  1/4/2024    26  Sunny
4  1/5/2024    21   Snow
5  1/6/2024    35  Sunny

In [25]:

file = pd.read_csv("winequality-white.csv",sep=";")
df=pd.DataFrame(file)

In [26]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [27]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [28]:
df.max()

fixed acidity            14.20000
volatile acidity          1.10000
citric acid               1.66000
residual sugar           65.80000
chlorides                 0.34600
free sulfur dioxide     289.00000
total sulfur dioxide    440.00000
density                   1.03898
pH                        3.82000
sulphates                 1.08000
alcohol                  14.20000
quality                   9.00000
dtype: float64

In [29]:
df.min()

fixed acidity           3.80000
volatile acidity        0.08000
citric acid             0.00000
residual sugar          0.60000
chlorides               0.00900
free sulfur dioxide     2.00000
total sulfur dioxide    9.00000
density                 0.98711
pH                      2.72000
sulphates               0.22000
alcohol                 8.00000
quality                 3.00000
dtype: float64

In [30]:
df.max()

fixed acidity            14.20000
volatile acidity          1.10000
citric acid               1.66000
residual sugar           65.80000
chlorides                 0.34600
free sulfur dioxide     289.00000
total sulfur dioxide    440.00000
density                   1.03898
pH                        3.82000
sulphates                 1.08000
alcohol                  14.20000
quality                   9.00000
dtype: float64

In [31]:
df.mean()

fixed acidity             6.854788
volatile acidity          0.278241
citric acid               0.334192
residual sugar            6.391415
chlorides                 0.045772
free sulfur dioxide      35.308085
total sulfur dioxide    138.360657
density                   0.994027
pH                        3.188267
sulphates                 0.489847
alcohol                  10.514267
quality                   5.877909
dtype: float64

In [32]:
df.std()

fixed acidity            0.843868
volatile acidity         0.100795
citric acid              0.121020
residual sugar           5.072058
chlorides                0.021848
free sulfur dioxide     17.007137
total sulfur dioxide    42.498065
density                  0.002991
pH                       0.151001
sulphates                0.114126
alcohol                  1.230621
quality                  0.885639
dtype: float64

In [33]:
df.var()

fixed acidity              0.712114
volatile acidity           0.010160
citric acid                0.014646
residual sugar            25.725770
chlorides                  0.000477
free sulfur dioxide      289.242720
total sulfur dioxide    1806.085491
density                    0.000009
pH                         0.022801
sulphates                  0.013025
alcohol                    1.514427
quality                    0.784356
dtype: float64

In [45]:
#Section 2
print("Wines with Quality")
df[df["quality"] > 7.2]

Wines with Quality

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
17,6.2,0.660,0.48,1.2,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,8
20,6.2,0.660,0.48,1.2,0.029,29.0,75.0,0.98920,3.33,0.39,12.8,8
22,6.8,0.260,0.42,1.7,0.049,41.0,122.0,0.99300,3.47,0.48,10.5,8
68,6.7,0.230,0.31,2.1,0.046,30.0,96.0,0.99260,3.33,0.64,10.7,8
74,6.7,0.230,0.31,2.1,0.046,30.0,96.0,0.99260,3.33,0.64,10.7,8
...,...,...,...,...,...,...,...,...,...,...,...,...
4765,5.2,0.300,0.34,1.5,0.038,18.0,96.0,0.98942,3.56,0.48,13.0,8
4766,6.4,0.320,0.25,5.0,0.055,28.0,138.0,0.99171,3.27,0.50,12.4,8
4786,4.4,0.320,0.39,4.3,0.030,31.0,127.0,0.98904,3.46,0.36,12.8,8
4787,3.9,0.225,0.40,4.2,0.030,29.0,118.0,0.98900,3.57,0.36,12.8,8
4802,5.8,0.280,0.34,2.2,0.037,24.0,125.0,0.98986,3.36,0.33,12.8,8

In [44]:
print("Wines with Alchohal Content")
df[df["alcohol"] > 13]

Wines with Alchohal Content

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
701,5.9,0.340,0.22,2.4,0.030,19.0,135.0,0.98940,3.41,0.78,13.900000,7
1099,5.8,0.290,0.21,2.6,0.025,12.0,120.0,0.98940,3.39,0.79,14.000000,7
1238,7.1,0.440,0.37,2.7,0.041,35.0,128.0,0.98960,3.07,0.43,13.500000,7
1242,8.1,0.430,0.42,6.6,0.033,36.0,141.0,0.99180,2.98,0.39,13.300000,7
1243,7.1,0.440,0.37,2.7,0.041,35.0,128.0,0.98960,3.07,0.43,13.500000,7
...,...,...,...,...,...,...,...,...,...,...,...,...
4815,6.2,0.760,0.01,3.2,0.041,18.0,120.0,0.99026,3.20,0.94,13.700000,7
4818,6.0,0.270,0.40,1.7,0.021,18.0,82.0,0.98910,3.24,0.95,13.133333,6
4837,6.5,0.280,0.38,7.8,0.031,54.0,216.0,0.99154,3.03,0.42,13.100000,6
4863,6.2,0.360,0.32,4.0,0.036,44.0,92.0,0.98936,3.20,0.50,13.300000,7
4865,6.2,0.355,0.35,2.0,0.046,31.0,95.0,0.98822,3.06,0.46,13.600000,6

In [42]:
print("data in which pH is greater then 3.5")
df[df["pH"] > 3.5]

data in which pH is greater then 3.5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
13,6.6,0.160,0.40,1.50,0.044,48.0,143.0,0.99120,3.54,0.52,12.4,7
72,6.0,0.270,0.28,4.80,0.063,31.0,201.0,0.99640,3.69,0.71,10.0,5
115,5.5,0.485,0.00,1.50,0.065,8.0,103.0,0.99400,3.63,0.40,9.7,4
250,5.9,0.210,0.28,4.60,0.053,40.0,199.0,0.99640,3.72,0.70,10.0,4
253,5.8,0.240,0.44,3.50,0.029,5.0,109.0,0.99130,3.53,0.43,11.7,3
...,...,...,...,...,...,...,...,...,...,...,...,...
4744,5.0,0.240,0.19,5.00,0.043,17.0,101.0,0.99438,3.67,0.57,10.0,5
4765,5.2,0.300,0.34,1.50,0.038,18.0,96.0,0.98942,3.56,0.48,13.0,8
4787,3.9,0.225,0.40,4.20,0.030,29.0,118.0,0.98900,3.57,0.36,12.8,8
4792,4.7,0.785,0.00,3.40,0.036,23.0,134.0,0.98981,3.53,0.92,13.8,6
4839,5.2,0.405,0.15,1.45,0.038,10.0,44.0,0.99125,3.52,0.40,11.6,4